## Python

### Блок №1  
Исправьте код ниже, чтобы был такой же вывод, как под комментарием

In [ ]:
# print("I'm a student and I'll become a "strong" programmer") #I'm a student and I'll become a "strong" programmer
print("""I'm a student and I'll become a "strong" programmer""")

# print("C:\Users\GoodStudent") #C:\Users\GoodStudent
print("""C:\\Users\\GoodStudent""") #C:\Users\GoodStudent

x = "My name is Agent Smith"
print(x[1]) #y

# print(x[?:?:?]) #nesgt
print(x[3:16:3])


### Блок №2

Запрос ввода осуществляется вызовом функции input(). В функцию можно передать строку, которая будет выведена на экран для общения с пользователем, например:

input('Введите ваш возраст')

Ввод пользователя возвращается функцией input в виде строки и может быть присвоен переменной:

age = input('Введите ваш возраст')

Функция input возвращает строку (даже если пользователь ввёл число). Чтобы сконвертировать строку к целому числу, можно сделать следующее:

In [ ]:
age_str = input('Введите ваш возраст') # age_str это строка
age = int(age_str) # age это int

Напишите код для следующих 2 задач:

In [ ]:
# 1. Клиент покупает кофе в кафе. За каждые 6 чашек, 1 чашка даётся в качестве бонуса.
# Задача: запросить у пользователя кол-во чашек на покупку, вычислить полагающееся кол-во бонусных чашек кофе и вывести это число через print().

def b2_1():
    def get_num_of_cups():
        while True:
            try:
                num_of_cups = input('Здравствуйте! Сколько чашек кофе вам приготовить? -> ')
                if num_of_cups.isdigit() == False:
                    raise Exception
                else:
                    num_of_cups = int(num_of_cups)
                    break
            except Exception:
                print('Это неверный ввод, попробуйте снова! ->')
            continue
        return num_of_cups

    free_cups = get_num_of_cups() // 6
    print(
        f'Наше кофейня предлагает вам {free_cups} бесплатных чашек кофе по акции "Купи 6 чашек и получи 1 в подарок!"')
#-------------------------------------------#  

# 2. Запросить у пользователя координаты x и y двух точек на плоскости. Посчитать расстояние между заданными точками и вывести результат.
# Примечание: у каждой точки есть две координаты: x и y. Расстояние рассчитывается по формуле, которую вы с лёгкостью найдёте в Интернете.
def b2_2():
#     def get_number(name):
#         while True:
#             x = input(f'Введите координаты точки {name}\n'
#                        'x-> ')
            
    def get__xy():
        while True:
            try:
                x1 = input('Введите координаты точки A\n'
                           'x1-> ')
                y1 = input('y1-> ')
                x2 = input('Введите координаты точки B\n'
                           'x2-> ')
                y2 = input('y2-> ')
                if y1.isdigit() == False or x1.isdigit() == False or x2.isdigit() == False or y2.isdigit() == False:
                    raise Exception
                else:
                    x1 = int(x1)
                    y1 = int(y1)
                    x2 = int(x2)
                    y2 = int(y2)
                    break
            except Exception:
                print('Это неверный ввод, попробуйте снова! ->')
            continue
        return x1, y1, x2, y2

    x1, y1, x2, y2 = get__xy()
    dist = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
    print(f'Растояние от точки A до точки B: {dist}')
#-------------------------------------------# 
# Start

# b2_1()
b2_2()

Введите координаты точки A
x1->  ljfgb
y1->  kndk
Введите координаты точки B
x2->  kdnlk
y2->  bkb

Это неверный ввод, попробуйте снова! ->

Введите координаты точки A
x1->  54
y1->  rdrf
Введите координаты точки B
x2->  drfd
y2->  4

Это неверный ввод, попробуйте снова! ->

### Блок №3 (Numpy)

Импортировать NumPy под именем np

In [ ]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [ ]:
a = np.zeros(10)

Создать вектор размера 10, заполненный единицами

In [ ]:
a = np.ones(10)

Создать вектор размера 10, заполненный числом 2.5

In [ ]:
a = np.full(10, 2.5)
print(a)

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [ ]:
a = np.zeros(10)
a[4] = 1
print(a)

Развернуть вектор (первый становится последним)

In [ ]:
a = a[::-1]

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [ ]:
a = np.arange(9).reshape(3,3)
print(a)

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [ ]:
indx = np.nonzero([1,2,0,0,4,0])
print(indx)

Создать 3x3 единичную матрицу

In [ ]:
# a = np.one((3,3)) 
a = np.eye(3)
print(a)

Создать массив 3x3x3 со случайными значениями

In [ ]:
a = np.random.random((3,3,3))
print(a)

Перемножить матрицы 5x3 и 3x2

In [ ]:
a = np.dot(np.ones((5,3)), np.ones((3,2)))
print(a)

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [ ]:
a = np.linspace(0,1,12)[1:-1]
print(a)

Заменить максимальный элемент на ноль

In [ ]:
a = np.random.rand(10)
a[a.argmax()] = 0
print(a)

Преобразовать массив из float в int

In [ ]:
a = np.arange(10, dtype=np.int32)
a = a.astype(np.float32, copy=False)

Найти наиболее частое значение в массиве

In [ ]:
a = np.random.randint(0,10,50)
print(np.bincount(a).argmax())

Найти n наибольших значений в массиве

In [ ]:
a = np.arange(1500)
np.random.shuffle(a)
n = 3

print (a[np.argpartition(-a,n)[:n]])

### Блок №4 (Pandas)

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts). Скачать датасет на свой компьютер и распаковать. Считать csv файл в датафрейм food:

In [58]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('precision', 2)

import pandas as pd
food=pd.read_csv('en.openfoodfacts.org.products.tsv',sep='\t')

/Users/dm/.pyenv/versions/3.7.3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Посмотреть первые 5 записей

In [27]:
food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько наблюдений в наборе данных?

In [38]:
# food.shape[0]?
food.shape[0]*food.shape[1]

8284312

In [39]:
food.describe()

,code,created_t,last_modified_t,cities,allergens_en,no_nutriments,additives_n,ingredients_from_palm_oil_n,ingredients_from_palm_oil,ingredients_that_may_be_from_palm_oil_n,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
count,5.082400e+04,5.082400e+04,5.082400e+04,0.0,0.0,0.0,49573.000000,49573.000000,0.0,49573.000000,...,11.000000,3.000000,0.0,5.000000,0.0,0.0,39901.000000,39901.000000,0.0,0.0
mean,2.744929e+10,1.487375e+09,1.488316e+09,NaN,NaN,NaN,2.328606,0.000504,NaN,0.035866,...,29.763636,50.666667,NaN,38.800000,NaN,NaN,8.924263,8.906443,NaN,NaN
std,1.355023e+10,1.085735e+07,6.781749e+06,NaN,NaN,NaN,2.734215,0.022451,NaN,0.189078,...,37.539506,42.735621,NaN,19.018412,NaN,NaN,9.167857,9.176566,NaN,NaN
min,1.000000e+01,1.332445e+09,1.386940e+09,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,...,0.000000,25.000000,NaN,24.000000,NaN,NaN,-13.000000,-13.000000,NaN,NaN
25%,1.540014e+10,1.489061e+09,1.489061e+09,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,...,0.000000,26.000000,NaN,30.000000,NaN,NaN,1.000000,1.000000,NaN,NaN
50%,2.999418e+10,1.489071e+09,1.489071e+09,NaN,NaN,NaN,2.000000,0.000000,NaN,0.000000,...,15.000000,27.000000,NaN,33.000000,NaN,NaN,9.000000,9.000000,NaN,NaN
75%,4.113039e+10,1.489094e+09,1.489094e+09,NaN,NaN,NaN,3.000000,0.000000,NaN,0.000000,...,37.700000,63.500000,NaN,35.000000,NaN,NaN,16.000000,16.000000,NaN,NaN
max,1.256420e+12,1.505686e+09,1.505686e+09,NaN,NaN,NaN,29.000000,1.000000,NaN,3.000000,...,100.000000,100.000000,NaN,72.000000,NaN,NaN,35.000000,35.000000,NaN,NaN

Сколько столбцов в наборе данных?

In [19]:
food.shape[1]

163

Напечатайте все названия столбцов

In [43]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

Какое название у 105 столбца?

In [20]:
food.columns[105]

'-fructose_100g'

Какой тип наблюдений в 105 столбце?

In [26]:
food['-fructose_100g'].dtype

dtype('float64')

Каково значение имени продукта в 19-м наблюдении?

In [47]:
food['product_name'][19]

'Organic Oat Groats'

### Блок №5 (Pandas - фильтрация данных)

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [97]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Как много продуктов стоят более чем $10.00?

In [111]:
chipo_item_price = chipo['item_price'].str[1:].astype(float)
len(chipo[chipo_item_price>=10.00])

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [108]:
chipo_item_price = chipo['item_price'].apply(lambda x: float(x[1:]))
len(chipo[chipo_item_price>=10.00])

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [132]:
columns_to_show = ['item_name', 'item_price']
chipo[columns_to_show]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

Сколько было заказано самого дорогого предмета?

In [146]:
max_price=max(chipo_item_price)
mask = chipo_item_price == max_price
int(chipo[mask]['quantity'])

15

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [157]:
mask = chipo['item_name']=="Veggie Salad Bowl"
# chipo[mask]['quantity'].sum()
len(chipo[mask])

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [156]:
name_mask = chipo['item_name'] == "Canned Soda"
quantity_mask = chipo['quantity'] > 1
mask = name_mask & quantity_mask
# chipo[mask]
len(chipo[mask])

20