In [5]:
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')
import pandas as pd

**Считаем данные из файла в память в виде объекта Pandas.DataFrame**

In [6]:
data = pd.read_csv('titanic_train.csv',
                  index_col='PassengerId')

In [22]:
data.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

**Примеры создания признаков**

In [7]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    else:
        return 3

In [8]:
age_categories = [age_category(age) for age in data.Age]

In [9]:
data['Age_category'] = age_categories

**Другой способ - c apply**

In [10]:
data['Age_category'] = data['Age'].apply(age_category)

In [11]:
data['Num_relatives'] = data['Parch'] + data['SibSp']

In [12]:
data['Num_relatives'].value_counts()

0     537
1     161
2     102
3      29
5      22
4      15
6      12
10      7
7       6
Name: Num_relatives, dtype: int64

**1. Сколько мужчин / жещин находилось на борту?**

**2. C помощью value_counts (либо своим способом) выведите распределение колонки Pclass(социально-экономический статус). Дополнительно выведите это распределение отдельно для мужчин / женщин.**

**3. Сколько в среднем заплатил один пассажир? Найдите стандартное отклонение этой величины. Лучше округлить до 2 десятичных знаков.**

In [26]:
data['Fare'].mean()

32.2042079685746

In [28]:
data['Fare'].std()

49.693428597180905

**4. Правда ли, что молодые выживали чаще (с большей вероятностью), чем старики? Пусть "молодые" - те, кто моложе 30, а "старики" - те, кто старше 60.**

**5. Правда ли, что женщины выживали чаще мужчин?**

In [12]:
data[['Survived','Sex']][data.Sex == 'male'].value_counts(normalize = True)

Survived  Sex
0         male    0.811092
1         male    0.188908
dtype: float64

In [21]:
data[['Survived','Sex']][data.Sex == 'female'].value_counts(normalize = True).sort_values()

Survived  Sex
0         female    0.257962
1         female    0.742038
dtype: float64

In [20]:
data[['Survived','Sex']][data.Sex == 'male']['Survived'].value_counts(normalize = True)

0    0.811092
1    0.188908
Name: Survived, dtype: float64

**6. Какое самое популярное имя среди пассажиров Титаника мужского пола?**

In [ ]:
#порядок действий
фильтр male
сделать колонку name_new
посчитать value_counts()

**8. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания?**